

body{
	background: #eee;
}

h1{
	color:red;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
}


h2{
	color: blue;
}

a{
	color:green;
	text-decoration: none;
	transition: 0.3s;
}

a:hover{
	color: purple;
	font-size: 18px;
	transform: scale(1.2);
	letter-spacing: 3px;

}

#container{
	margin: auto;
	width: 960;
	height:  auto;
	background: white;
}