

body{
	background: #eee;
}

h1{
	color:red;
}


h2{
	color: blue;
}

a{
	color:green;
	text-decoration: none;
	transition: 0.3s;
}

a:hover{
	color: purple;
	font-size: 18px;
	transform: scale(1.2);

}